@charset "UTF-8";
/* CSS Document */
h1, p{
	text-align: center;
}

input, #submit-form{
	display: block;
	margin: auto;
}

input{
	padding-top: 5px;
	padding-bottom: 5px;
}

#submit-form{
	margin-top: 20px;
}

#submit-form:hover{
	cursor: pointer;
	background-color: #666;
	color: white;
	transition: 0.4s;
}

section{
	display: flex;
	justify-content: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

